footer {
    background-color: rgb(191, 233, 219);
    text-align: center;
    height: 40px;
}

footer h4 {
    line-height: 2.5rem;
}

footer a {
    color: back;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

footer a:visited {
    color:black;
}