nav {
  display: flex;
  flex-direction: row;
  text-align: right;
  background-color: rgb(191, 233, 219);
  height: 22px;
  margin: 0;
}

.nav-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav-link {
  padding: 0 0.5rem 0.2rem 0.5rem;
}

.nav-link:hover {
  background-color: rgb(220, 255, 243);
}

.nav-link:active {
  background-color: white;
}

.nav-active {
  background-color: white;
}
